@import "tailwindcss";

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.light {
    --main-color: #ffffff;
    --second-color: #f1f1f1;
    --text-color: #4d4d4d;
    --extra-color: #ebebeb;
    --hover-color: #cfcfcf;
    --light-hover: #dfdfdf;
    --opposite: white;
}

.dark {
    --main-color: #454545;
    --second-color: #525252;
    --text-color: #e0e0e0;
    --extra-color: #757575;
    --hover-color: #636363;
    --light-hover: #2f2f2f;
    --opposite: #212121;
}

.darkContrast {
    --main-color: #212121;
    --second-color: #e09600;
    --text-color: #ffffff;
    --extra-color: #363636;
    --hover-color: #111;
    --light-hover: #c87f00;
    --opposite: #212121;
}

.green {
    --main-color: #d0e8b8;
    --second-color: #a8dd8f;
    --text-color: #2d4e2d;
    --extra-color: #a8e48f;
    --hover-color: #9bd482;
    --light-hover: #b4de9b;
    --opposite: white;
}

.blue {
    --main-color: #c5d9ed;
    --second-color: #a3c2e0;
    --text-color: #2d3e50;
    --extra-color: #a3c7e5;
    --hover-color: #8fb3d1;
    --light-hover: #94b3d1;
    --opposite: white;
}

.vanilla {
    --main-color: #f2dfba;
    --second-color: #d8b983;
    --text-color: #4e4e4e;
    --extra-color: #e7cfa4;
    --hover-color: #d2b686;
    --light-hover: #c6a974;
    --opposite: #ffffff;
}


@theme {
    --color-second: var(--main-color);
    --color-main: var(--second-color);
    --color-text: var(--text-color);
    --color-extra: var(--extra-color);
    --color-hover: var(--hover-color);
    --color-light-hover: var(--light-hover);
    --color-opposite: var(--opposite);
}

[draggable="true"] {
    cursor: grab; /* Устанавливаем свой стиль курсора */
    user-select: none; /* Отключаем выделение текста */
}

[draggable="true"]:active {
    cursor: grabbing; /* Курсор при перетаскивании */
}

body {
    overflow-x: clip;
    background-color: var(--color-second);
}

.inset {
    box-shadow: inset 0 0 20px 3px rgba(0, 0, 0, 0.5);
}

.miniInset {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.shadowItem {
    box-shadow: 0 0 15px 0 var(--color-text);
}

.animated {
    &.animated::before {
        content: "";
        position: absolute;
        inset: 0;
        background: var(--color-second);
        animation: highlight 2s ease-out;
        pointer-events: none;
        z-index: 1;
    }
}

.modal {
    background-color: rgba(0,0,0,0.5);
}

.darkmodal {
    background-color: rgba(255,255,255,0.5);
}

.title, .desc {
    font: var(--color-text);
}

.title {
    font-size: 16px;
}

.desc {
    font-size: 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input {
    border: 1px solid var(--color-extra);
    padding: 8px;
    border-radius: 8px;
}
.input:focus {
    outline: none;
    border: 1px solid var(--color-main);
}
.input::placeholder {
    color: var(--color-text);
}

/* Стиль для скроллбара */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;/* Толщина скроллбара */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: var(--color-second);
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--color-hover); /* Цвет индикатора */
    border-radius: 10px; /* Округление индикатора */
    border: 2px solid transparent;
    background-clip: content-box;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

span, p, h1, h2, h3, h4, h5, h6, div {
    font-family: 'Manrope', sans-serif;
    color: var(--color-text);
}

span, p, div {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.noopacity {
    opacity: 1 !important;
}

button, a, Link {
    cursor: pointer;
}

input:focus, button:focus, a:focus, Link:focus {
    outline: none;
}

a, Link, button, svg, span, p, h1, h2, h3, h4, h5, h6, div {
    transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes highlight {
    0% { opacity: 0.8; }
    100% { opacity: 0; }
}